{% extends 'base.html' %}

{% block title %}Change your password{% endblock %}

{% block content %}
    <div class="change-password">
        <div class="change-password__container">
            <div class="change-password__items">
                <h1 class="change-password__main-text">Change your password</h1>
                <form action="." method="post" class="change-password-form">
                    <p class="change-password-form__text">Old password:</p>
                    <input type="password" class="change-password-form__input" name="old_password">
                    <p class="change-password-form__text">New password:</p>
                    <input type="password" class="change-password-form__input" name="new_password1">
                    <p class="change-password-form__text">Repeat new password:</p>
                    <input type="password" class="change-password-form__input" name="new_password2">
                    {% csrf_token %} <br>
                    <input type="submit" value="Submit" class="change-password-submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}