{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <div class="password-reset">
        <div class="password-reset-container">
            <div class="password-reset_items">
                {% if validlink %}
                <h1 class="password-reset__main-text">Reset your password</h1>
                <form action="." method="post" class="password-reset__form">
                    {% csrf_token %}
                    <p class="password-reset__from-input-p">
                        New password <input type="password" name="new_password1">
                    </p>
                    <p class="password-reset__from-input-p">
                        Repeat your new password <input type="password" name="new_password2">
                    </p>
                    <input type="submit" value="Submit" class="password-reset__submit-button">
                </form>
                {% else %}
                    <p class="password-reset__main-exception">The link is invalid</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}